<h1><%= @teamname %></h1>

<p> Team Motto: <%= @teammotto %> </p>

<h2>Hero Name: <%= @memberone[:name] %></h2>
<p>Hero Power: <%= @memberone[:power] %></p>
<p>Hero Biography: <%= @memberone[:biography] %></p>

<h3>Hero Name: <%= @membertwo[:name] %></h3>
<p>Hero Power: <%= @membertwo[:power] %></p>
<p>Hero Biography: <%= @membertwo[:biography] %></p>

<h4>Hero Name: <%= @memberthree[:name] %></h4>
<p>Hero Power: <%= @memberthree[:power] %></p>
<p>Hero Biography: <%= @memberthree[:biography] %></p>


